@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;1,400&display=swap');
body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  height: 100%;
 }
 .show-col{
  border: 3px solid black;
 }
 .CardShadow{
  box-shadow: 0 0 10px 0 rgba(150, 150, 150, 0.8);
}
 
/* LOGIN REGISTER */
.logReg-main{
  background-image: url(./images/LoginRegisterLogo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.login-cluster{
  padding-top: 40%;
  padding-bottom: 40%;
}
.login-cluster-inner{
  border:3px solid #97d3d3;
  border-radius: 3%;
  padding: 60px;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #f0f4f6;
}
.login-register-cluster{
  margin-top: 5%;
  font-size: 1.2em;
}

/* DASHBOARD */
.dashboard-mainface{
  height: 110vh;
  background-color: #f0f4f6;
}
.dashboard-body{
  margin-top: 3%;
  width: 95%;
}
.dashboard-row2{
  margin-top: 2%;
}

.dashboard-numbercluster-Card p{
  text-align: center;
}
.dashboard-numbercluster-Card h1{
  text-align: center;
  line-height: 5vh;
}
.dashboard-numbercluster{
  border: 2px solid #97d3d3;
  border-radius: 5%;
  height: 120px;
  width: 230px;
  margin: auto;
}
.dashboard-buttons{
  height: 180px;
  width: 180px;
  margin: 20px;
  font-size: 4em;
}
.dashboard-fakeChart{
  width: 100%;
  height: 410px;
}

/* SUBMIT PAGE */
.submit-mainface{
  
  height: 100vh;
  background-color: #f0f4f6;
}
.submit-body{
  width: 95%;
  border-top: 3px solid rgb(199, 199, 199);
  border-bottom: 3px solid rgb(199, 199, 199);
  padding-top:5%;
  padding-bottom: 5%;
}
.submit-body-confirm-title{
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  margin: 2%;
}
.submit-form{
  padding: 50px;
}
.submit-card{
  
}
.submit-submit{
  text-align: center;
}
.submit-submit-card{
  padding-bottom: 40%;
}
.submit-submit-form{
  margin-top: 40%;
}
.submit-submit-button{
  height:50px;
  width: 100px;
}
/* REQUEST PAGE */
.request-mainface{
  background-color: #f0f4f6;
}
.request-title p{
  text-align: center;
  font-size: 6em;
  margin-top: 3%;
  margin-bottom: 3%;
}
.request-body{
  border-top: 3px solid rgb(199, 199, 199);
  border-bottom: 3px solid rgb(199, 199, 199);
  padding-top: 2%;
  padding-bottom: 2%;
  width: 95%;
}
.request-list-Card{
  padding-top: 5%;
  padding-bottom: 5%;
}
.request-submit{
  margin-top: 5%;
  margin-bottom: 10%;
  text-align: center;
}
.request-submit-button{
  margin-top: 10%;
}
/* LOST PAGE */
.lost-body{
  background-image: url(./images/blurred.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.lost-message{
  padding-top: 20%;
  padding-bottom: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* NAVBAR */
.bufAcW{
  min-width: 400px !important;
}
.navbar-main{
  display: flex;
  height: 100%;
  overflow: scroll initial;
}
.navbar-links{
  font-size:1.4em;
}
/* FOOTER */
 .container-fluid {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #292929;
    color: #627482 !important;
    bottom:0;
    width:100%;
 }
.footer-image{
  width: 300px;
}
.bold-text {
  color: #989c9e !important;
}
.footer-namelist{
  list-style-type: none;
}
.footer-image-git{
  height: 100px;
  margin: auto;
}